@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import './styles/variables.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: var(--row);
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input, select {
  font-family: inherit;
  font-size: inherit;
}
